@charset "UTF-8";
.article-html {
  /* bullet lists */
  /* numbered lists */
}

.article-html h1,
.article-html h2,
.article-html h3,
.article-html h4,
.article-html h5,
.article-html h6 {
  padding-top: 1.75rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: var(--text-bright);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.article-html h1:after,
.article-html h2:after,
.article-html h3:after,
.article-html h4:after,
.article-html h5:after,
.article-html h6:after {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 6rem;
  border-radius: 100%;
  content: "";
  background: var(--main--gradient);
}

.article-html h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.article-html h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.article-html h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.article-html h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.article-html h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-html h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.article-html p {
  margin: 0.75rem 0;
  line-height: 2;
}

.article-html p img {
  margin: 0.75rem 0;
}

.article-html ul {
  margin: 1.5rem 0;
}

.article-html ul ul {
  position: relative;
  margin: 0;
}

.article-html ul > li > ul::before {
  content: '';
  border-left: 1px solid var(--text-accent);
  position: absolute;
  opacity: 0.35;
  left: -1em;
  top: 0;
  bottom: 0;
}

.article-html ul li,
.article-html ol li {
  margin-bottom: 0.75rem;
  line-height: 2;
  margin-left: 2rem;
}

.article-html ul,
.article-html ul ul,
.article-html ol ul,
.article-html ul ul ul,
.article-html ol ul ul {
  list-style: none;
}

.article-html li > p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.article-html ul li::before {
  float: left;
  content: '•';
  color: var(--text-accent);
  display: inline-block;
  width: 1em;
  margin-left: -1.15em;
  padding: 0;
  font-weight: bold;
  text-shadow: 0 0 0.5em var(--accent-2);
}

.article-html ul ul li::before {
  content: '•';
}

.article-html ul ul ul li::before {
  content: '•';
}

.article-html ol {
  list-style: none;
  counter-reset: li;
}

.article-html ol > li {
  counter-increment: li;
}

.article-html ol > li::before,
.article-html ul ol > li::before,
.article-html ul ul ol > li::before,
.article-html ul ul ul ol > li::before {
  content: "." counter(li);
  color: var(--text-accent);
  font-weight: normal;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  overflow: visible;
  word-break: keep-all;
  white-space: nowrap;
}

.article-html blockquote {
  margin-inline-start: 0;
}

.article-html .custom-quote,
.article-html blockquote {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 2rem;
  color: var(--text-normal);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-right: 0 !important;
  border-left: 3px var(--text-accent) solid;
  border-top: transparent;
  border-bottom: transparent;
  border-right: transparent;
  background: linear-gradient(135deg, var(--background), var(--background) 41.07%, var(--background-card) 76.05%, var(--background-card));
}

.article-html .custom-quote::before,
.article-html blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: 2px;
  width: 76%;
  background: linear-gradient(90deg, var(--text-accent), var(--background-card) 76.05%);
}

.article-html .custom-quote::after,
.article-html blockquote::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 2px;
  width: 45%;
  background: linear-gradient(90deg, var(--text-accent), var(--background) 45%);
}

.article-html .custom-quote-svg,
.article-html .custom-blockquote-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.65rem;
  left: -1rem;
  height: 2.3rem;
  width: 2.3rem;
  fill: currentColor;
  stroke: var(--background-card);
  overflow: hidden;
}

.article-html .custom-quote-svg svg,
.article-html .custom-blockquote-svg svg {
  height: 100%;
  width: 100%;
}

.article-html .custom-blockquote-svg {
  color: var(--text-accent);
}

.article-html .custom-quote.tip .custom-quote-svg {
  color: var(--custom-quote-tip);
}

.article-html .custom-quote.tip {
  border-left: 3px solid var(--custom-quote-tip) !important;
}

.article-html .custom-quote.tip .custom-quote-title {
  color: var(--custom-quote-tip);
}

.article-html .custom-quote.tip::before {
  background: linear-gradient(90deg, var(--custom-quote-tip), var(--background));
}

.article-html .custom-quote.tip::after {
  background: linear-gradient(90deg, var(--custom-quote-tip), var(--background));
}

.article-html .custom-quote.warning .custom-quote-svg {
  color: var(--custom-quote-warning);
}

.article-html .custom-quote.warning {
  border-left: 3px solid var(--custom-quote-warning) !important;
}

.article-html .custom-quote.warning .custom-quote-title {
  color: var(--custom-quote-warning);
}

.article-html .custom-quote.warning::before {
  background: linear-gradient(90deg, var(--custom-quote-warning), var(--background));
}

.article-html .custom-quote.warning::after {
  background: linear-gradient(90deg, var(--custom-quote-warning), var(--background));
}

.article-html .custom-quote.danger .custom-quote-svg {
  color: var(--custom-quote-danger);
}

.article-html .custom-quote.danger {
  border-left: 3px solid var(--custom-quote-danger) !important;
}

.article-html .custom-quote.danger .custom-quote-title {
  color: var(--custom-quote-danger);
}

.article-html .custom-quote.danger::before {
  background: linear-gradient(90deg, var(--custom-quote-danger), var(--background));
}

.article-html .custom-quote.danger::after {
  background: linear-gradient(90deg, var(--custom-quote-danger), var(--background));
}

.article-html .custom-details {
  @apply rounded-xl;
  padding: 1rem;
  background: linear-gradient(135deg, var(--background), var(--background) 41.07%, var(--background-card) 76.05%, var(--background-card));
}

.article-html .custom-details summary {
  @apply rounded-lg cursor-pointer transition-all;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
  padding: 0.5rem 1.2rem;
  background: linear-gradient(135deg, var(--bg-accent-55), transparent 46.07%);
  opacity: 1;
}

.article-html .custom-details summary:hover {
  opacity: 0.6;
}

.article-html strong {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0.1rem;
  color: #7aa2f7;
  background-color: #7aa2f7;
  background-image: var(--strong-gradient);
}

.article-html strong::selection {
  -webkit-text-fill-color: var(--text-faint);
}

.article-html table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.article-html th {
  border: 1px solid var(--background) !important;
  background-color: var(--background-card);
}

.article-html td,
.article-html th {
  border: 1px solid var(--background) !important;
  padding: 0.6em 1em;
}

.article-html tr {
  border-top: 1px solid var(--background) !important;
  background-color: var(--background);
}

.article-html tr:nth-child(2n) {
  background-color: var(--background-card);
}

.article-html em {
  color: #bb9af7 !important;
  font-family: OperatorMonoSSmLig-Book, Rubik !important;
}

.article-html a {
  text-shadow: -1px -1px 2px var(--background), -1px 1px 2px var(--background), 1px -1px 2px var(--background), 1px 1px 2px var(--background);
  -webkit-text-fill-color: var(--text-bright);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 5px;
  text-decoration: none;
  transition: all 350ms ease;
  background-image: linear-gradient(to bottom, var(--bg-sub-accent-55) 0%, var(--bg-sub-accent-55) 100%);
}

.article-html a strong {
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: inherit;
  background-color: initial;
  background-image: none;
}

.article-html a:hover {
  text-shadow: -1px -1px 2px var(--background-modifier-border), -1px 1px 2px var(--background-modifier-border), 1px -1px 2px var(--background-modifier-border), 1px 1px 2px var(--background-modifier-border);
  -webkit-text-fill-color: var(--text-bright);
  background-size: 4px 50px;
}

.article-html svg {
  display: inline-block;
}

.article-html hr {
  position: relative;
  margin-block-start: 0;
  margin-block-end: 0;
  border: none;
  height: 1px;
  padding: 2.5em 0;
}

.article-html hr::before {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -44%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.25rem;
  color: var(--text-sub-accent);
  background-color: var(--background-card);
  z-index: 10;
  border-radius: 60%;
}

.article-html hr::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-gradient);
  height: 3px;
  width: 26%;
  border-radius: 9999px;
  opacity: 0.26;
  margin: 2.5em auto;
}

.article-html pre {
  overflow: auto !important;
  overflow-wrap: normal !important;
  padding: 2rem 1rem;
  background-color: var(--background);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.article-html pre code {
  padding: 0;
}

.article-html code {
  color: var(--text-normal);
  margin: 0;
  border-radius: 10px;
  overflow-wrap: break-word;
  background-color: var(--bg-accent-05);
  word-wrap: break-word;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  color: var(--text-accent) !important;
}
